.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #64914f;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

form {
  margin: 1rem 0;
}

input {
  margin: 0.5rem;
}

.destino {
  border: 1px solid #a3c27f;
  margin: 1rem;
  padding: 1rem;
}
